@import url('vendor/skeleton-css/css/skeleton.css');
@import url('assets/styles/header.css');
@import url('assets/styles/page.css');
@import url('assets/styles/headers.css');
@import url('assets/styles/lists.css');
@import url('assets/styles/button.css');
@import url('assets/styles/illustrations.css');
@import url('assets/styles/nav.css');
@import url('assets/styles/menu.css');

body {
  margin: 0;
  font-family: 'Alegreya', serif;
  background-color: black;
  color: white;
}

@media (max-width: 950px) {
  html {
    font-size: 6pt;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 5pt;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 4pt;
  }
}
