form {
  display: block;
  text-align: center;
  width: 100%;
}

.button {
  font-size: 18px;
  background-color: darkred;
  color: white;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  color: white;
}

.button.disabled {
  color: darkgrey;
  pointer-events: none;
}
