form {
  display: block;
  text-align: center;
  width: 100%;
}

.button {
  font-size: 18px;
  background-color: darkred;
  color: white;
}

.button:hover {
  color: white;
}

.button.disabled {
  color: darkgrey;
  pointer-events: none;
}
