main > header {
  padding: 3em;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3,1fr);
}

main > header h1 {
  font-size: 4em;
  text-align: center;
}

main > header > div.logo {
  text-align: right;
}

main > header .logo img {
  height: 4em;
  width: 4em;
}
