figure.spread {
  margin: 5em 0;
}

figure.spread img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

figure.portrait {
  float: right;

  img {
    width: 100%;
    max-width: 190px;
  }

  @media (width <= 450px) {
    float: none;

    img {
      display: block;
      margin: auto;
    }
  }
}
