figure.spread {
  margin: 5em 0;
}

figure.spread img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

figure.portrait {
  float: right;

  img {
    width: 100%;
  }

  @media (max-width: 800px) {
    float: none;
  }


  @media (max-width: 700px) {
    float: right;
  }


  @media (max-width: 550px) {
    float: none;
  }
}
