figure.spread {
  margin: 5em 0;
}

figure.spread img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

figure.portrait {
  float: right;
  clear: both;
}

figure.portrait img {
  width: 100%;
  max-width: 170px;
}

@media (max-width: 450px) {
  figure.portrait {
    float: none;
  }

  figure.portrait img {
    display: block;
    margin: auto;
  }
}
