#document ul {
  padding: 2em 0 2em 2em;
  list-style: disc;
  list-style-type: "✥  ";
}

#document ul li,
#document ol li {
  padding-bottom: 0.5em;
}

#document ol {
  padding: 2em 0 1em 1em;
  font-size: 100%;
}

#document ol ol {
  padding: 0 1em 0 0;
}

#document ul ul,
#document ol ol,
#document ul ol,
#document ol ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
