@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);

section.page {
  font-family: 'Alegreya', serif;
  font-size: 3rem;
  font-weight: normal;

  padding-left: 64px;
  padding-right: 64px;
}

section.page h2,
section.page h3 {
  margin-left: 0;
  margin-right: auto;
  max-width: 800px;
}

section.page h4 {
  text-align: right;
}

section.page > * {
  margin-left: auto;
  max-width: 800px;
}

section.page > ul {
  max-width: 700px;
}

section.page + section.page {
  margin-top: 5em;
}

@media (max-width: 500px) {

  section.page {
    font-size: 2.5em;
  }

}
